<h3>{{viewTitle}}</h3>
<form action="/employee" method="post">
<input type="hidden" name = "_id"value="{{employee.id}}"/>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Enter the Full Name" value="{{employee.fullName}}">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" placeholder="Enter the E-mail" value="{{employee.email}}">
    </div>
        <div class="form-row">
            <div class="form-group col-md-6">
        <label>Mobile</label>
        <input type="text" class="form-control" name="mobile" placeholder="Enter the Mobile" value="{{employee.mobile}}">
        </div>
        <div class="form-group col-md-6">
        <label>city</label>
        <input type="text" class="form-control" name="city" placeholder="Enter the City" value="{{employee.city}}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Submit</button>
        </div>
    </div>

</form>